{
  "plugins": [
    "prettier-plugin-hermes-parser"
  ],
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.flow"
      ],
      "options": {
        "parser": "hermes"
      }
    }
  ]
}
