/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.feature {
  padding: 3rem 0;
}

.featureTitle {
  font-size: 2rem;
}

.featureText {
  font-size: 1.25rem;
}

.featureButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
